<h2>
  <strong>Title:</strong>
  <%= @question.title %>
</h2>

<p>
  <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
  <%= markdown.render(@question.text).html_safe %>
</p>

<p><%= link_to 'Submit a new Answer', new_question_answer_path(@question) %></p>  

<p>
  <strong>Answers:</strong>
  <% @answers.each do |answer| %>
    <h3>Answer by: <%= answer.user.username %></h3>
    <p><%= answer.text %></p>
  <% end %>
</p>
